<% provide(:title, "Top") %>
<div class="row">
  <div class="col-md-7">
    <div class="center jumbotron" id="top-main">
      <h1 id="top-main-title">勤怠システム</h1>
      <div style="margin-top: 10px;">
        <%= link_to "ログイン", "#", class: "btn btn-success" %>
      </div>
      <div>アカウント作成はこちら</div>
    </div>
  </div>
</div>